@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #CED4DA;
    border-bottom-right-radius: 15px;
    border-right: 20px;
    border-color: #212529;
}


::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: 15px;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fade-out {
    transition: opacity 0.5s ease;
    opacity: 0;
}